<app-toolbar></app-toolbar>
<mat-list>
    <mat-list-item *ngFor="let message of messages">
      <app-messages-item [item]="message" [isGroup]="isGroup"></app-messages-item>
    </mat-list-item>
</mat-list>
<!--
    <div class="content" fxLayout="column">
         <div class="user-bar" fxLayout="row" fxFlex="55px">
            <div class="back" style="border: 1px solid" fxLayoutAlign="center center">
                <mat-icon>arrow_back</mat-icon>
            </div>

            <div class="avatar" style="border: 1px solid">
              <img src="assets/avatar.jpg" alt="Avatar">
            </div>

            <div class="name" fxFlex="20%" style="border: 1px solid">
              <span>Unknown User</span><br>
              <span class="status">online</span>
            </div>

            <div class="actions attachment" style="border: 1px solid" fxLayoutAlign="center center">
                <mat-icon>attachment</mat-icon>
            </div>

            <div class="actions" style="border: 1px solid" fxLayoutAlign="center center">
                <mat-icon>phone</mat-icon>
            </div>
            <br>
    </div>
</div>
-->


